<div class="card">
  <div class="card-header">Novo Pedido
  </div>
  <div class="card-body">
    <h5 class="card-title">Total Pedido {{ total }}</h5>
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
            <div class="container">
              <div class="form-group row">
                <app-input
                  class="col-4"
                  label="Numero Pedido*"
                  name="numero"
                  controlName="numero"
                  message=""
                  [value]="orderNumber.number"
                  ngDefaultControl
                  required
                ></app-input>
                <app-input-select
                  class="col-2"
                  label="Mesa*"
                  name="mesas"
                  message=""
                  [options]="tables"
                  ngDefaultControl
                  (change)="tableValue($event)"
                  required
                ></app-input-select>
                <app-input-select
                  class="col-4"
                  label="Item*"
                  name="item"
                  message=""
                  [options]="items"
                  ngDefaultControl
                  (change)="itemValue($event)"
                  required
                ></app-input-select>
              </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="save()">
              Salvar
            </button>
  </div>
</div>
